### Soil Moisture Data Cleaning

Rev0

Samir D. Patel

1/2/2018

This notebook takes the "_Decagaon_Corrections" Excel data for soil moisture across each of the four field sites (Aeschliman, Jones, OD and Wolff) and imports/cleans/exports the relevant moisture data in CSV format.

In [1]:
import pandas as pd

#### Aeschliman

Import of data from Excel sheet to Pandas.  Location of file currently set locally, will need change.

In [55]:
data_aes= pd.read_excel("./decagon-soilmoisture/Aeschliman_Decagon_corrections_FINAL.xlsx", sheetname = 'Data', skiprows = 0, usecols=range(36), header = 1)

In [56]:
data_aes = data_aes.rename(columns = {'Date-Time':'Date'})

In [57]:
data_aes["Field"] = "AES"

In [58]:
data_aes = pd.melt(data_aes, id_vars=['Depth', 'Date', 'Field'], var_name='Sensor_Full_Name', value_name='Soil_Moisture')

In [59]:
data_aes ['Sensor Number'] = data_aes['Sensor_Full_Name'].str.strip()

In [60]:
data_aes['Sensor Number'] = data_aes['Sensor Number'].str.extract('(\d+)').astype(int)

C:\Users\Samir\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  if __name__ == '__main__':

In [61]:
data_aes.tail(5)

        Depth       Date Field Sensor_Full_Name  Soil_Moisture  Sensor Number
305825      5 2016-09-26   AES            A12-C            NaN             12
305826      5 2016-09-27   AES            A12-C            NaN             12
305827      5 2016-09-28   AES            A12-C            NaN             12
305828      5 2016-09-29   AES            A12-C            NaN             12
305829      5 2016-09-30   AES            A12-C            NaN             12

#### Jones

In [9]:
data_j= pd.read_excel("./decagon-soilmoisture/Jones_Decagon_corrections_FINAL.xlsx", sheetname = 'Data', usecols=range(76), skiprows = 0, header = 1)

Note: Use of "Date" instead of "Date-Time"

In [10]:
data_j = data_j.drop(labels = ["Week", "Year"], axis = 1)

Changing "Date " column name (removing space at the end) to "Date" to match other field sites

In [11]:
data_j = data_j.rename(columns = {'Date ':'Date'})

In [12]:
data_j["Field"] = "J"

In [13]:
data_j = pd.melt(data_j, id_vars=['Depth', 'Date', 'Field'], var_name='Sensor_Full_Name', value_name='Soil_Moisture')

In [14]:
data_j ['Sensor Number'] = data_j['Sensor_Full_Name'].str.strip()

In [15]:
data_j['Sensor Number'] = data_j['Sensor Number'].str.extract('(\d+)').astype(int)

C:\Users\Samir\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  if __name__ == '__main__':

In [16]:
data_j.tail(5)

        Depth       Date Field Sensor_Full_Name  Soil_Moisture  Sensor Number
642595      5 2016-09-26     J     J12.obs_hand            NaN             12
642596      5 2016-09-27     J     J12.obs_hand            NaN             12
642597      5 2016-09-28     J     J12.obs_hand            NaN             12
642598      5 2016-09-29     J     J12.obs_hand            NaN             12
642599      5 2016-09-30     J     J12.obs_hand            NaN             12

#### OD

In [17]:
data_od = pd.read_excel("./decagon-soilmoisture/OD_Decagon_corrections_FINAL.xlsx", sheetname = 'Data', skiprows = 0, header = 1, usecols = range(76))

Note: Use of "Date" instead of "Date-Time"

In [18]:
data_od = data_od.drop(labels = ["Week", "Year"], axis = 1)

In [19]:
data_od["Field"] = "OD"

In [20]:
data_od = pd.melt(data_od, id_vars=['Depth', 'Date', 'Field'], var_name='Sensor_Full_Name', value_name='Soil_Moisture')

In [21]:
data_od ['Sensor Number'] = data_od['Sensor_Full_Name'].str.strip()

In [22]:
data_od['Sensor Number'] = data_od['Sensor Number'].str.extract('(\d+)').astype(int)

C:\Users\Samir\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  if __name__ == '__main__':

In [23]:
data_od.head(5)

   Depth       Date Field Sensor_Full_Name  Soil_Moisture  Sensor Number
0      1 2011-12-04    OD             OD-1       0.185089              1
1      1 2011-12-05    OD             OD-1       0.184942              1
2      1 2011-12-06    OD             OD-1       0.184778              1
3      1 2011-12-07    OD             OD-1       0.184778              1
4      1 2011-12-08    OD             OD-1       0.184581              1

In [50]:
data_all

        Depth       Date Field Sensor_Full_Name  Soil_Moisture  Sensor Number
0           1 2011-10-29   AES               A1       0.264665              1
1           1 2011-10-30   AES               A1       0.264987              1
2           1 2011-10-31   AES               A1       0.264665              1
3           1 2011-11-01   AES               A1       0.264987              1
4           1 2011-11-02   AES               A1       0.264342              1
5           1 2011-11-03   AES               A1       0.263050              1
6           1 2011-11-04   AES               A1       0.262402              1
7           1 2011-11-05   AES               A1       0.261753              1
8           1 2011-11-06   AES               A1       0.260778              1
9           1 2011-11-07   AES               A1       0.260126              1
10          1 2011-11-08   AES               A1       0.259145              1
11          1 2011-11-09   AES               A1       0.259472              1
12          1 2011-11-10   AES               A1       0.259145              1
13          1 2011-11-11   AES               A1       0.259145              1
14          1 2011-11-12   AES               A1       0.259145              1
15          1 2011-11-13   AES               A1       0.258163              1
16          1 2011-11-14   AES               A1       0.257506              1
17          1 2011-11-15   AES               A1       0.257506              1
18          1 2011-11-16   AES               A1       0.255859              1
19          1 2011-11-17   AES               A1       0.254867              1
20          1 2011-11-18   AES               A1       0.254867              1
21          1 2011-11-19   AES               A1       0.254536              1
22          1 2011-11-20   AES               A1       0.253873              1
23          1 2011-11-21   AES               A1       0.253873              1
24          1 2011-11-22   AES               A1       0.253541              1
25          1 2011-11-23   AES               A1       0.275450              1
26          1 2011-11-24   AES               A1       0.276074              1
27          1 2011-11-25   AES               A1       0.275138              1
28          1 2011-11-26   AES               A1       0.275762              1
29          1 2011-11-27   AES               A1       0.274199              1
...       ...        ...   ...              ...            ...            ...
585474      5 2016-04-04     W     W.obs_12_new            NaN             12
585475      5 2016-04-05     W     W.obs_12_new            NaN             12
585476      5 2016-04-06     W     W.obs_12_new            NaN             12
585477      5 2016-04-07     W     W.obs_12_new            NaN             12
585478      5 2016-04-08     W     W.obs_12_new            NaN             12
585479      5 2016-04-09     W     W.obs_12_new            NaN             12
585480      5 2016-04-10     W     W.obs_12_new            NaN             12
585481      5 2016-04-11     W     W.obs_12_new            NaN             12
585482      5 2016-04-12     W     W.obs_12_new            NaN             12
585483      5 2016-04-13     W     W.obs_12_new            NaN             12
585484      5 2016-04-14     W     W.obs_12_new            NaN             12
585485      5 2016-04-15     W     W.obs_12_new            NaN             12
585486      5 2016-04-16     W     W.obs_12_new            NaN             12
585487      5 2016-04-17     W     W.obs_12_new            NaN             12
585488      5 2016-04-18     W     W.obs_12_new            NaN             12
585489      5 2016-04-19     W     W.obs_12_new            NaN             12
585490      5 2016-04-20     W     W.obs_12_new            NaN             12
585491      5 2016-04-21     W     W.obs_12_new            NaN             12
585492      5 2016-04-22     W     W.obs_12_new            NaN             12
585493      5 2016-04-23     W     W.obs_12_new            NaN             12
585494      5 2016-04-24     W     W.obs_12_new            NaN             12
585495      5 2016-04-25     W     W.obs_12_new            NaN             12
585496      5 2016-04-26     W     W.obs_12_new            NaN             12
585497      5 2016-04-27     W     W.obs_12_new            NaN             12
585498      5 2016-04-28     W     W.obs_12_new            NaN             12
585499      5 2016-04-29     W     W.obs_12_new            NaN             12
585500      5 2016-04-30     W     W.obs_12_new            NaN             12
585501      5 2016-05-01     W     W.obs_12_new            NaN             12
585502      5 2016-05-02     W     W.obs_12_new            NaN             12
585503      5 2016-05-03     W     W.obs_12_new            NaN             12

[2168614 rows x 6 columns]

#### Wolff

In [24]:
data_w = pd.read_excel("./decagon-soilmoisture/Wolff_Decagon_Corrections_FINAL.xlsx", sheetname = 'Data', skiprows = 0, header = 1, usecols = range(76))

Note: Use of "Date" instead of "Date-Time"

In [25]:
data_w = data_w.drop(labels = ["Week", "Year"], axis = 1)

In [26]:
data_w["Field"] = "W"

In [27]:
data_w = pd.melt(data_w, id_vars=['Depth', 'Date', 'Field'], var_name='Sensor_Full_Name', value_name='Soil_Moisture')

In [28]:
data_w['Sensor Number'] = data_w['Sensor_Full_Name'].str.strip()

In [29]:
data_w['Sensor Number'] = data_w['Sensor Number'].str.extract('(\d+)').astype(int)

C:\Users\Samir\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  if __name__ == '__main__':

In [30]:
data_w.head(5)

   Depth       Date Field Sensor_Full_Name  Soil_Moisture  Sensor Number
0      1 2011-11-22     W               W1       0.241346              1
1      1 2011-11-23     W               W1       0.232718              1
2      1 2011-11-24     W               W1       0.242795              1
3      1 2011-11-25     W               W1       0.247554              1
4      1 2011-11-26     W               W1       0.237257              1

#### Concatenating Field Site DataFrames

In [31]:
frames = [data_aes, data_j, data_od, data_w]

In [129]:
data_all = pd.concat(frames)

Renaming Columns

In [133]:
data_all = data_all.rename(columns = {'Depth':'depth','Date':'date','Field':'field','Sensor_Full_Name':'sensor_full_name','Soil_Moisture':'soil moisture','Sensor Number':'sensor number'})

#### Pivoting Data by Depth (widening)

In [134]:
data_all = data_all.reset_index()

In [135]:
data_all.tail(5)

,index,depth,date,field,sensor_full_name,soil moisture,sensor number
2168609,585499,5,2016-04-29,W,W.obs_12_new,NaN,12
2168610,585500,5,2016-04-30,W,W.obs_12_new,NaN,12
2168611,585501,5,2016-05-01,W,W.obs_12_new,NaN,12
2168612,585502,5,2016-05-02,W,W.obs_12_new,NaN,12
2168613,585503,5,2016-05-03,W,W.obs_12_new,NaN,12

In [136]:
temp_pivot = data_all.pivot(columns = "depth", values = "soil moisture")

In [137]:
data_all2 = data_all.join(temp_pivot)

In [138]:
data_all2 = data_all2.drop(labels = ["depth", "soil moisture", "index"], axis = 1)

In [139]:
data_all2 = data_all2.rename(columns = {1:'depth_1', 
                                        2:'depth_2',
                                        3:'depth_3',
                                        4:'depth_4',
                                        5:'depth_5'})

In [140]:
data_all2.head(5)

,date,field,sensor_full_name,sensor number,depth_1,depth_2,depth_3,depth_4,depth_5
0,2011-10-29,AES,A1,1,0.264665,NaN,NaN,NaN,NaN
1,2011-10-30,AES,A1,1,0.264987,NaN,NaN,NaN,NaN
2,2011-10-31,AES,A1,1,0.264665,NaN,NaN,NaN,NaN
3,2011-11-01,AES,A1,1,0.264987,NaN,NaN,NaN,NaN
4,2011-11-02,AES,A1,1,0.264342,NaN,NaN,NaN,NaN

#### Saving Output Data for each to CSV

In [145]:
data_all2.to_csv('./output_data/soil_moisture.csv', index=False)