### Soil Moisture Data Cleaning

Rev0

Samir D. Patel

1/2/2018

This notebook takes the "_Decagaon_Corrections" Excel data for soil moisture across each of the four field sites (Aeschliman, Jones, OD and Wolff) and imports/cleans/exports the relevant moisture data in CSV format.

In [1]:
import pandas as pd

#### Aeschliman

Import of data from Excel sheet to Pandas.  Location of file currently set locally, will need change.

In [55]:
data_aes= pd.read_excel("./decagon-soilmoisture/Aeschliman_Decagon_corrections_FINAL.xlsx", sheetname = 'Data', skiprows = 0, usecols=range(36), header = 1)

In [56]:
data_aes = data_aes.rename(columns = {'Date-Time':'Date'})

In [57]:
data_aes["Field"] = "AES"

In [58]:
data_aes = pd.melt(data_aes, id_vars=['Depth', 'Date', 'Field'], var_name='Sensor_Full_Name', value_name='Soil_Moisture')

In [59]:
data_aes ['Sensor Number'] = data_aes['Sensor_Full_Name'].str.strip()

In [60]:
data_aes['Sensor Number'] = data_aes['Sensor Number'].str.extract('(\d+)').astype(int)

C:\Users\Samir\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  if __name__ == '__main__':

In [61]:
data_aes.tail(5)

        Depth       Date Field Sensor_Full_Name  Soil_Moisture  Sensor Number
305825      5 2016-09-26   AES            A12-C            NaN             12
305826      5 2016-09-27   AES            A12-C            NaN             12
305827      5 2016-09-28   AES            A12-C            NaN             12
305828      5 2016-09-29   AES            A12-C            NaN             12
305829      5 2016-09-30   AES            A12-C            NaN             12

#### Jones

In [9]:
data_j= pd.read_excel("./decagon-soilmoisture/Jones_Decagon_corrections_FINAL.xlsx", sheetname = 'Data', usecols=range(76), skiprows = 0, header = 1)

Note: Use of "Date" instead of "Date-Time"

In [10]:
data_j = data_j.drop(labels = ["Week", "Year"], axis = 1)

Changing "Date " column name (removing space at the end) to "Date" to match other field sites

In [11]:
data_j = data_j.rename(columns = {'Date ':'Date'})

In [12]:
data_j["Field"] = "J"

In [13]:
data_j = pd.melt(data_j, id_vars=['Depth', 'Date', 'Field'], var_name='Sensor_Full_Name', value_name='Soil_Moisture')

In [14]:
data_j ['Sensor Number'] = data_j['Sensor_Full_Name'].str.strip()

In [15]:
data_j['Sensor Number'] = data_j['Sensor Number'].str.extract('(\d+)').astype(int)

C:\Users\Samir\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  if __name__ == '__main__':

In [16]:
data_j.tail(5)

        Depth       Date Field Sensor_Full_Name  Soil_Moisture  Sensor Number
642595      5 2016-09-26     J     J12.obs_hand            NaN             12
642596      5 2016-09-27     J     J12.obs_hand            NaN             12
642597      5 2016-09-28     J     J12.obs_hand            NaN             12
642598      5 2016-09-29     J     J12.obs_hand            NaN             12
642599      5 2016-09-30     J     J12.obs_hand            NaN             12

#### OD

In [17]:
data_od = pd.read_excel("./decagon-soilmoisture/OD_Decagon_corrections_FINAL.xlsx", sheetname = 'Data', skiprows = 0, header = 1, usecols = range(76))

Note: Use of "Date" instead of "Date-Time"

In [18]:
data_od = data_od.drop(labels = ["Week", "Year"], axis = 1)

In [19]:
data_od["Field"] = "OD"

In [20]:
data_od = pd.melt(data_od, id_vars=['Depth', 'Date', 'Field'], var_name='Sensor_Full_Name', value_name='Soil_Moisture')

In [21]:
data_od ['Sensor Number'] = data_od['Sensor_Full_Name'].str.strip()

In [22]:
data_od['Sensor Number'] = data_od['Sensor Number'].str.extract('(\d+)').astype(int)

C:\Users\Samir\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  if __name__ == '__main__':

In [23]:
data_od.head(5)

   Depth       Date Field Sensor_Full_Name  Soil_Moisture  Sensor Number
0      1 2011-12-04    OD             OD-1       0.185089              1
1      1 2011-12-05    OD             OD-1       0.184942              1
2      1 2011-12-06    OD             OD-1       0.184778              1
3      1 2011-12-07    OD             OD-1       0.184778              1
4      1 2011-12-08    OD             OD-1       0.184581              1

In [50]:
data_all

        Depth       Date Field Sensor_Full_Name  Soil_Moisture  Sensor Number
0           1 2011-10-29   AES               A1       0.264665              1
1           1 2011-10-30   AES               A1       0.264987              1
2           1 2011-10-31   AES               A1       0.264665              1
3           1 2011-11-01   AES               A1       0.264987              1
4           1 2011-11-02   AES               A1       0.264342              1
5           1 2011-11-03   AES               A1       0.263050              1
6           1 2011-11-04   AES               A1       0.262402              1
7           1 2011-11-05   AES               A1       0.261753              1
8           1 2011-11-06   AES               A1       0.260778              1
9           1 2011-11-07   AES               A1       0.260126              1
10          1 2011-11-08   AES               A1       0.259145              1
11          1 2011-11-09   AES               A1       0.259472              1
12          1 2011-11-10   AES               A1       0.259145              1
13          1 2011-11-11   AES               A1       0.259145              1
14          1 2011-11-12   AES               A1       0.259145              1
15          1 2011-11-13   AES               A1       0.258163              1
16          1 2011-11-14   AES               A1       0.257506              1
17          1 2011-11-15   AES               A1       0.257506              1
18          1 2011-11-16   AES               A1       0.255859              1
19          1 2011-11-17   AES               A1       0.254867              1
20          1 2011-11-18   AES               A1       0.254867              1
21          1 2011-11-19   AES               A1       0.254536              1
22          1 2011-11-20   AES               A1       0.253873              1
23          1 2011-11-21   AES               A1       0.253873              1
24          1 2011-11-22   AES               A1       0.253541              1
25          1 2011-11-23   AES               A1       0.275450              1
26          1 2011-11-24   AES               A1       0.276074              1
27          1 2011-11-25   AES               A1       0.275138              1
28          1 2011-11-26   AES               A1       0.275762              1
29          1 2011-11-27   AES               A1       0.274199              1
...       ...        ...   ...              ...            ...            ...
585474      5 2016-04-04     W     W.obs_12_new            NaN             12
585475      5 2016-04-05     W     W.obs_12_new            NaN             12
585476      5 2016-04-06     W     W.obs_12_new            NaN             12
585477      5 2016-04-07     W     W.obs_12_new            NaN             12
585478      5 2016-04-08     W     W.obs_12_new            NaN             12
585479      5 2016-04-09     W     W.obs_12_new            NaN             12
585480      5 2016-04-10     W     W.obs_12_new            NaN             12
585481      5 2016-04-11     W     W.obs_12_new            NaN             12
585482      5 2016-04-12     W     W.obs_12_new            NaN             12
585483      5 2016-04-13     W     W.obs_12_new            NaN             12
585484      5 2016-04-14     W     W.obs_12_new            NaN             12
585485      5 2016-04-15     W     W.obs_12_new            NaN             12
585486      5 2016-04-16     W     W.obs_12_new            NaN             12
585487      5 2016-04-17     W     W.obs_12_new            NaN             12
585488      5 2016-04-18     W     W.obs_12_new            NaN             12
585489      5 2016-04-19     W     W.obs_12_new            NaN             12
585490      5 2016-04-20     W     W.obs_12_new            NaN             12
585491      5 2016-04-21     W     W.obs_12_new            NaN             12
585492      5 2016-04-22     W     W.obs_12_new            NaN             12
585493      5 2016-04-23     W     W.obs_12_new            NaN             12
585494      5 2016-04-24     W     W.obs_12_new            NaN             12
585495      5 2016-04-25     W     W.obs_12_new            NaN             12
585496      5 2016-04-26     W     W.obs_12_new            NaN             12
585497      5 2016-04-27     W     W.obs_12_new            NaN             12
585498      5 2016-04-28     W     W.obs_12_new            NaN             12
585499      5 2016-04-29     W     W.obs_12_new            NaN             12
585500      5 2016-04-30     W     W.obs_12_new            NaN             12
585501      5 2016-05-01     W     W.obs_12_new            NaN             12
585502      5 2016-05-02     W     W.obs_12_new            NaN             12
585503      5 2016-05-03     W     W.obs_12_new            NaN             12

[2168614 rows x 6 columns]

#### Wolff

In [24]:
data_w = pd.read_excel("./decagon-soilmoisture/Wolff_Decagon_Corrections_FINAL.xlsx", sheetname = 'Data', skiprows = 0, header = 1, usecols = range(76))

Note: Use of "Date" instead of "Date-Time"

In [25]:
data_w = data_w.drop(labels = ["Week", "Year"], axis = 1)

In [26]:
data_w["Field"] = "W"

In [27]:
data_w = pd.melt(data_w, id_vars=['Depth', 'Date', 'Field'], var_name='Sensor_Full_Name', value_name='Soil_Moisture')

In [28]:
data_w['Sensor Number'] = data_w['Sensor_Full_Name'].str.strip()

In [29]:
data_w['Sensor Number'] = data_w['Sensor Number'].str.extract('(\d+)').astype(int)

C:\Users\Samir\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  if __name__ == '__main__':

In [30]:
data_w.head(5)

   Depth       Date Field Sensor_Full_Name  Soil_Moisture  Sensor Number
0      1 2011-11-22     W               W1       0.241346              1
1      1 2011-11-23     W               W1       0.232718              1
2      1 2011-11-24     W               W1       0.242795              1
3      1 2011-11-25     W               W1       0.247554              1
4      1 2011-11-26     W               W1       0.237257              1

#### Concatenating Field Site DataFrames

In [31]:
frames = [data_aes, data_j, data_od, data_w]

In [129]:
data_all = pd.concat(frames)

Renaming Columns

In [133]:
data_all = data_all.rename(columns = {'Depth':'depth','Date':'date','Field':'field','Sensor_Full_Name':'sensor_full_name','Soil_Moisture':'soil moisture','Sensor Number':'sensor number'})

#### Pivoting Data by Depth (widening)

In [134]:
data_all = data_all.reset_index()

In [135]:
data_all.tail(5)

,index,depth,date,field,sensor_full_name,soil moisture,sensor number
2168609,585499,5,2016-04-29,W,W.obs_12_new,NaN,12
2168610,585500,5,2016-04-30,W,W.obs_12_new,NaN,12
2168611,585501,5,2016-05-01,W,W.obs_12_new,NaN,12
2168612,585502,5,2016-05-02,W,W.obs_12_new,NaN,12
2168613,585503,5,2016-05-03,W,W.obs_12_new,NaN,12

In [136]:
temp_pivot = data_all.pivot(columns = "depth", values = "soil moisture")

In [137]:
data_all2 = data_all.join(temp_pivot)

In [138]:
data_all2 = data_all2.drop(labels = ["depth", "soil moisture", "index"], axis = 1)

In [139]:
data_all2 = data_all2.rename(columns = {1:'depth_1', 
                                        2:'depth_2',
                                        3:'depth_3',
                                        4:'depth_4',
                                        5:'depth_5'})

In [140]:
data_all2.head(5)

,date,field,sensor_full_name,sensor number,depth_1,depth_2,depth_3,depth_4,depth_5
0,2011-10-29,AES,A1,1,0.264665,NaN,NaN,NaN,NaN
1,2011-10-30,AES,A1,1,0.264987,NaN,NaN,NaN,NaN
2,2011-10-31,AES,A1,1,0.264665,NaN,NaN,NaN,NaN
3,2011-11-01,AES,A1,1,0.264987,NaN,NaN,NaN,NaN
4,2011-11-02,AES,A1,1,0.264342,NaN,NaN,NaN,NaN

#### Viewing the various column types

In [152]:
data_all2['sensor_full_name'].unique()

array([' A1', ' A2', ' A3', ' A4', ' A5', ' A6', ' A7', ' A8', ' A9',
       ' A10', ' A11', ' A12', "A1'", "A2'", "A3'", "A4'", "A5'", "A6'",
       "A7'", "A8'", "A9'", "A10'", "A11'", "A12'", ' A1-C', ' A2-C',
       ' A3-C', ' A4-C', ' A5-C', ' A6-C', ' A7-C', ' A10-C', ' A11-C',
       ' A12-C', 'J1', 'J2', 'J3', 'J4', 'J5', 'J6', 'J7', 'J8', 'J9',
       'J10', 'J11', 'J12', "J1'", "J2'", "J3'", "J4'", "J5'", "J6'",
       "J7'", "J8'", "J9'", "J10'", "J11'", "J12'", 'J1-C_hand',
       'J2-C_hand', 'J3-C_hand', 'J4-C_hand', 'J5-C_hand', 'J6-C_hand',
       'J7-C_hand', 'J8-C_hand', 'J9-C_hand', 'J10-C_hand', 'J11-C_hand',
       'J12-C_hand', 'J1-C_Giddings', 'J2-C_Giddings', 'J3-C_Giddings',
       'J4-C_Giddings', 'J5-C_Giddings', 'J6-C_Giddings', 'J7-C_Giddings',
       'J8-C_Giddings', 'J9-C_Giddings', 'J10-C_Giddings',
       'J11-C_Giddings', 'J12-C_Giddings', 'J1.obs_Giddings',
       'J2.obs_Giddings', 'J3.obs_Giddings', 'J4.obs_Giddings',
       'J5.obs_Giddings', 'J6.obs_Giddings', 'J7.obs_Giddings',
       'J8.obs_Giddings', 'J9.obs_Giddings', 'J10.obs_Giddings',
       'J11.obs_Giddings', 'J12.obs_Giddings', 'J1.obs_hand',
       'J2.obs_hand', 'J3.obs_hand', 'J4.obs_hand', 'J5.obs_hand',
       'J6.obs_hand', 'J7.obs_hand', 'J8.obs_hand', 'J9.obs_hand',
       'J10.obs_hand', 'J11.obs_hand', 'J12.obs_hand', 'OD-1', 'OD-2',
       'OD-3', 'OD-4', 'OD-5', 'OD-6', 'OD-7', 'OD-8', 'OD-9', 'OD-10',
       'OD-11', 'OD-12', "OD-1'", "OD-2'", "OD-3'", "OD-4'", "OD-5'",
       "OD-6'", "OD-7'", "OD-8'", "OD-9'", "OD-10'", "OD-11'", "OD-12'",
       'OD-1_C', 'OD-2_C', 'OD-3_C', 'OD-4_C', 'OD-5_C', 'OD-6_C',
       'OD-7_C', 'OD-8_C', 'OD-9_C', 'OD-10_C', 'OD-11_C', 'OD-12_C',
       'OD-1_C_old', 'OD-2_C_old', 'OD-3_C_old', 'OD-4_C_old',
       'OD-5_C_old', 'OD-6_C_old', 'OD-7_C_old', 'OD-8_C_old',
       'OD-9_C_old', 'OD-10_C_old', 'OD-11_C_old', 'OD-12_C_old',
       'OD-1.obs', 'OD-2.obs', 'OD-3.obs', 'OD-4.obs', 'OD-5.obs',
       'OD-6.obs', 'OD-7.obs', 'OD-8.obs', 'OD-9.obs', 'OD-10.obs',
       'OD-11.obs', 'OD-12.obs', 'OD-1.obs_new', 'OD-2.obs_new',
       'OD-3.obs_new', 'OD-4.obs_new', 'OD-5.obs_new', 'OD-6.obs_new',
       'OD-7.obs_new', 'OD-8.obs_new', 'OD-9.obs_new', 'OD-10.obs_new',
       'OD-11.obs_new', 'OD-12.obs_new', 'W1', 'W2', 'W3', 'W4', 'W5',
       'W6', 'W7', 'W8', 'W9', 'W10', 'W11', 'W12', "W1'", "W2'", "W3'",
       "W4'", "W5'", "W6'", "W7'", "W8'", "W9'", "W10'", "W11'", "W12'",
       'W1-C_hand', 'W2-C_hand', 'W3-C_hand', 'W4-C_hand', 'W5-C_hand',
       'W6-C_hand', 'W7-C_hand', 'W8-C_hand', 'W9-C_hand', 'W10-C_hand',
       'W11-C_hand', 'W12-C_hand', 'W1-C_Giddings', 'W2-C_Giddings',
       'W3-C_Giddings', 'W4-C_Giddings', 'W5-C_Giddings', 'W6-C_Giddings',
       'W7-C_Giddings', 'W8-C_Giddings', 'W9-C_Giddings', 'W10-C_Giddings',
       'W11-C_Giddings', 'W12-C_Giddings', 'W.obs_1', 'W.obs_2', 'W.obs_3',
       'W.obs_4', 'W.obs_5', 'W.obs_6', 'W.obs_7', 'W.obs_8', 'W.obs_9',
       'W.obs_10', 'W.obs_11', 'W.obs_12', 'W.obs_1_new', 'W.obs_2_new',
       'W.obs_3_new', 'W.obs_4_new', 'W.obs_5_new', 'W.obs_6_new',
       'W.obs_7_new', 'W.obs_8_new', 'W.obs_9_new', 'W.obs_10_new',
       'W.obs_11_new', 'W.obs_12_new'], dtype=object)

#### Saving Output Data for each to CSV

In [145]:
data_all2.to_csv('./output_data/soil_moisture.csv', index=False)

#### Example of subsetting my sensor data type ("sensor_full_name" column)

In [161]:
#Use the str.contains function to subset.  In the example below, we subset by prime (') values

data_all2[data_all2['sensor_full_name'].str.contains("'")]

,date,field,sensor_full_name,sensor number,depth_1,depth_2,depth_3,depth_4,depth_5
107940,2011-10-29,AES,A1',1,0.264665,NaN,NaN,NaN,NaN
107941,2011-10-30,AES,A1',1,0.264987,NaN,NaN,NaN,NaN
107942,2011-10-31,AES,A1',1,0.264665,NaN,NaN,NaN,NaN
107943,2011-11-01,AES,A1',1,0.264987,NaN,NaN,NaN,NaN
107944,2011-11-02,AES,A1',1,0.264342,NaN,NaN,NaN,NaN
107945,2011-11-03,AES,A1',1,0.263050,NaN,NaN,NaN,NaN
107946,2011-11-04,AES,A1',1,0.262402,NaN,NaN,NaN,NaN
107947,2011-11-05,AES,A1',1,0.261753,NaN,NaN,NaN,NaN
107948,2011-11-06,AES,A1',1,0.260778,NaN,NaN,NaN,NaN
107949,2011-11-07,AES,A1',1,0.260126,NaN,NaN,NaN,NaN
107950,2011-11-08,AES,A1',1,0.259145,NaN,NaN,NaN,NaN
107951,2011-11-09,AES,A1',1,0.259472,NaN,NaN,NaN,NaN
107952,2011-11-10,AES,A1',1,0.259145,NaN,NaN,NaN,NaN
107953,2011-11-11,AES,A1',1,0.259145,NaN,NaN,NaN,NaN
107954,2011-11-12,AES,A1',1,0.259145,NaN,NaN,NaN,NaN
107955,2011-11-13,AES,A1',1,0.258163,NaN,NaN,NaN,NaN
107956,2011-11-14,AES,A1',1,0.257506,NaN,NaN,NaN,NaN
107957,2011-11-15,AES,A1',1,0.257506,NaN,NaN,NaN,NaN
107958,2011-11-16,AES,A1',1,0.255859,NaN,NaN,NaN,NaN
107959,2011-11-17,AES,A1',1,0.254867,NaN,NaN,NaN,NaN
107960,2011-11-18,AES,A1',1,0.254867,NaN,NaN,NaN,NaN
107961,2011-11-19,AES,A1',1,0.254536,NaN,NaN,NaN,NaN
107962,2011-11-20,AES,A1',1,0.253873,NaN,NaN,NaN,NaN
107963,2011-11-21,AES,A1',1,0.253873,NaN,NaN,NaN,NaN
107964,2011-11-22,AES,A1',1,0.253541,NaN,NaN,NaN,NaN
107965,2011-11-23,AES,A1',1,0.275450,NaN,NaN,NaN,NaN
107966,2011-11-24,AES,A1',1,0.276074,NaN,NaN,NaN,NaN
107967,2011-11-25,AES,A1',1,0.275138,NaN,NaN,NaN,NaN
107968,2011-11-26,AES,A1',1,0.275762,NaN,NaN,NaN,NaN
107969,2011-11-27,AES,A1',1,0.274199,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1778248,2016-04-04,W,W12',12,NaN,NaN,NaN,NaN,NaN
1778249,2016-04-05,W,W12',12,NaN,NaN,NaN,NaN,NaN
1778250,2016-04-06,W,W12',12,NaN,NaN,NaN,NaN,NaN
1778251,2016-04-07,W,W12',12,NaN,NaN,NaN,NaN,NaN
1778252,2016-04-08,W,W12',12,NaN,NaN,NaN,NaN,NaN
1778253,2016-04-09,W,W12',12,NaN,NaN,NaN,NaN,NaN
1778254,2016-04-10,W,W12',12,NaN,NaN,NaN,NaN,NaN
1778255,2016-04-11,W,W12',12,NaN,NaN,NaN,NaN,NaN
1778256,2016-04-12,W,W12',12,NaN,NaN,NaN,NaN,NaN
1778257,2016-04-13,W,W12',12,NaN,NaN,NaN,NaN,NaN
1778258,2016-04-14,W,W12',12,NaN,NaN,NaN,NaN,NaN
1778259,2016-04-15,W,W12',12,NaN,NaN,NaN,NaN,NaN
1778260,2016-04-16,W,W12',12,NaN,NaN,NaN,NaN,NaN
1778261,2016-04-17,W,W12',12,NaN,NaN,NaN,NaN,NaN
1778262,2016-04-18,W,W12',12,NaN,NaN,NaN,NaN,NaN
1778263,2016-04-19,W,W12',12,NaN,NaN,NaN,NaN,NaN
1778264,2016-04-20,W,W12',12,NaN,NaN,NaN,NaN,NaN
1778265,2016-04-21,W,W12',12,NaN,NaN,NaN,NaN,NaN
1778266,2016-04-22,W,W12',12,NaN,NaN,NaN,NaN,NaN
1778267,2016-04-23,W,W12',12,NaN,NaN,NaN,NaN,NaN
1778268,2016-04-24,W,W12',12,NaN,NaN,NaN,NaN,NaN
1778269,2016-04-25,W,W12',12,NaN,NaN,NaN,NaN,NaN
1778270,2016-04-26,W,W12',12,NaN,NaN,NaN,NaN,NaN
1778271,2016-04-27,W,W12',12,NaN,NaN,NaN,NaN,NaN
1778272,2016-04-28,W,W12',12,NaN,NaN,NaN,NaN,NaN
1778273,2016-04-29,W,W12',12,NaN,NaN,NaN,NaN,NaN
1778274,2016-04-30,W,W12',12,NaN,NaN,NaN,NaN,NaN
1778275,2016-05-01,W,W12',12,NaN,NaN,NaN,NaN,NaN
1778276,2016-05-02,W,W12',12,NaN,NaN,NaN,NaN,NaN
1778277,2016-05-03,W,W12',12,NaN,NaN,NaN,NaN,NaN