### Soil Moisture Data Cleaning

Rev0

Samir D. Patel

1/2/2018

This notebook takes the "_Decagaon_Corrections" Excel data for soil moisture across each of the four field sites (Aeschliman, Jones, OD and Wolff) and imports/cleans/exports the relevant moisture data in CSV format.

In [1]:
import pandas as pd

#### Aeschliman

Import of data from Excel sheet to Pandas.  Location of file currently set locally, will need change.

In [2]:
data_aes= pd.read_excel("./decagon-soilmoisture/Aeschliman_Decagon_corrections_FINAL.xlsx", sheetname = 'Data', skiprows = 0, usecols=range(36), header = 1)

In [3]:
#Renaming Date-Time column for consistency
data_aes = data_aes.rename(columns = {'Date-Time':'Date'})

In [4]:
#Creating Field value column
data_aes["Field"] = "AES"

In [5]:
#Taking sensor data and reshaping with wide-to-long
data_aes = pd.melt(data_aes, id_vars=['Depth', 'Date', 'Field'], var_name='Sensor_Full_Name', value_name='Soil_Moisture')

In [6]:
#Removing any blank spaces
data_aes ['Sensor Number'] = data_aes['Sensor_Full_Name'].str.strip()

In [7]:
#Extracting Sensor Number
data_aes['Sensor Number'] = data_aes['Sensor Number'].str.extract('(\d+)').astype(int)

C:\Users\Samir\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  from ipykernel import kernelapp as app

In [8]:
data_aes.tail(5)

        Depth       Date Field Sensor_Full_Name  Soil_Moisture  Sensor Number
305825      5 2016-09-26   AES            A12-C            NaN             12
305826      5 2016-09-27   AES            A12-C            NaN             12
305827      5 2016-09-28   AES            A12-C            NaN             12
305828      5 2016-09-29   AES            A12-C            NaN             12
305829      5 2016-09-30   AES            A12-C            NaN             12

#### Jones

In [9]:
data_j= pd.read_excel("./decagon-soilmoisture/Jones_Decagon_corrections_FINAL.xlsx", sheetname = 'Data', usecols=range(76), skiprows = 0, header = 1)

Note: Use of "Date" instead of "Date-Time"

In [10]:
data_j = data_j.drop(labels = ["Week", "Year"], axis = 1)

Changing "Date " column name (removing space at the end) to "Date" to match other field sites

In [11]:
data_j = data_j.rename(columns = {'Date ':'Date'})

In [12]:
data_j["Field"] = "J"

In [13]:
data_j = pd.melt(data_j, id_vars=['Depth', 'Date', 'Field'], var_name='Sensor_Full_Name', value_name='Soil_Moisture')

In [14]:
data_j ['Sensor Number'] = data_j['Sensor_Full_Name'].str.strip()

In [15]:
data_j['Sensor Number'] = data_j['Sensor Number'].str.extract('(\d+)').astype(int)

C:\Users\Samir\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  if __name__ == '__main__':

In [16]:
data_j.tail(5)

        Depth       Date Field Sensor_Full_Name  Soil_Moisture  Sensor Number
642595      5 2016-09-26     J     J12.obs_hand            NaN             12
642596      5 2016-09-27     J     J12.obs_hand            NaN             12
642597      5 2016-09-28     J     J12.obs_hand            NaN             12
642598      5 2016-09-29     J     J12.obs_hand            NaN             12
642599      5 2016-09-30     J     J12.obs_hand            NaN             12

#### OD

In [17]:
data_od = pd.read_excel("./decagon-soilmoisture/OD_Decagon_corrections_FINAL.xlsx", sheetname = 'Data', skiprows = 0, header = 1, usecols = range(76))

Note: Use of "Date" instead of "Date-Time"

In [18]:
data_od = data_od.drop(labels = ["Week", "Year"], axis = 1)

In [19]:
data_od["Field"] = "OD"

In [20]:
data_od = pd.melt(data_od, id_vars=['Depth', 'Date', 'Field'], var_name='Sensor_Full_Name', value_name='Soil_Moisture')

In [21]:
data_od ['Sensor Number'] = data_od['Sensor_Full_Name'].str.strip()

In [22]:
data_od['Sensor Number'] = data_od['Sensor Number'].str.extract('(\d+)').astype(int)

C:\Users\Samir\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  if __name__ == '__main__':

In [23]:
data_od.head(5)

   Depth       Date Field Sensor_Full_Name  Soil_Moisture  Sensor Number
0      1 2011-12-04    OD             OD-1       0.185089              1
1      1 2011-12-05    OD             OD-1       0.184942              1
2      1 2011-12-06    OD             OD-1       0.184778              1
3      1 2011-12-07    OD             OD-1       0.184778              1
4      1 2011-12-08    OD             OD-1       0.184581              1

#### Wolff

In [24]:
data_w = pd.read_excel("./decagon-soilmoisture/Wolff_Decagon_Corrections_FINAL.xlsx", sheetname = 'Data', skiprows = 0, header = 1, usecols = range(76))

Note: Use of "Date" instead of "Date-Time"

In [25]:
data_w = data_w.drop(labels = ["Week", "Year"], axis = 1)

In [26]:
data_w["Field"] = "W"

In [27]:
data_w = pd.melt(data_w, id_vars=['Depth', 'Date', 'Field'], var_name='Sensor_Full_Name', value_name='Soil_Moisture')

In [28]:
data_w['Sensor Number'] = data_w['Sensor_Full_Name'].str.strip()

In [29]:
data_w['Sensor Number'] = data_w['Sensor Number'].str.extract('(\d+)').astype(int)

C:\Users\Samir\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  if __name__ == '__main__':

In [30]:
data_w.head(5)

   Depth       Date Field Sensor_Full_Name  Soil_Moisture  Sensor Number
0      1 2011-11-22     W               W1       0.241346              1
1      1 2011-11-23     W               W1       0.232718              1
2      1 2011-11-24     W               W1       0.242795              1
3      1 2011-11-25     W               W1       0.247554              1
4      1 2011-11-26     W               W1       0.237257              1

#### Concatenating Field Site DataFrames

In [31]:
frames = [data_aes, data_j, data_od, data_w]

In [32]:
data_all = pd.concat(frames)

Renaming Columns

In [33]:
data_all = data_all.rename(columns = {'Depth':'depth','Date':'date','Field':'field','Sensor_Full_Name':'sensor_full_name','Soil_Moisture':'soil moisture','Sensor Number':'sensor'})

#### Pivoting Data by Depth (widening)

In [34]:
data_all.tail(5)

        depth       date field sensor_full_name  soil moisture  sensor
585499      5 2016-04-29     W     W.obs_12_new            NaN      12
585500      5 2016-04-30     W     W.obs_12_new            NaN      12
585501      5 2016-05-01     W     W.obs_12_new            NaN      12
585502      5 2016-05-02     W     W.obs_12_new            NaN      12
585503      5 2016-05-03     W     W.obs_12_new            NaN      12

In [35]:
temp_pivot = pd.pivot_table(data_all, index = ['date', 'field', 'sensor_full_name', 'sensor'], columns = "depth", values = "soil moisture")

In [36]:
#Remove hierarchical indexing and labels resulting from the pivot
temp_pivot = temp_pivot.reset_index().rename_axis(None, axis=1)

In [37]:
temp_pivot.head(5)

,date,field,sensor_full_name,sensor,1,2,3,4,5
0,2011-10-29,AES,A1,1,0.264665,0.292500,0.282253,NaN,0.260778
1,2011-10-29,AES,A1-C,1,0.377737,0.291173,0.309848,NaN,NaN
2,2011-10-29,AES,A10,10,0.206626,0.177253,0.165528,0.230247,0.216602
3,2011-10-29,AES,A10-C,10,0.210262,0.228600,0.258326,0.280794,NaN
4,2011-10-29,AES,A11,11,0.140764,0.196794,0.239321,0.282253,NaN

In [38]:
#renaming the columns for soil moisture by depth
temp_pivot = temp_pivot.rename(columns = {1:'depth_1', 
                                        2:'depth_2',
                                        3:'depth_3',
                                        4:'depth_4',
                                        5:'depth_5'})

In [39]:
temp_pivot.head(5)

,date,field,sensor_full_name,sensor,depth_1,depth_2,depth_3,depth_4,depth_5
0,2011-10-29,AES,A1,1,0.264665,0.292500,0.282253,NaN,0.260778
1,2011-10-29,AES,A1-C,1,0.377737,0.291173,0.309848,NaN,NaN
2,2011-10-29,AES,A10,10,0.206626,0.177253,0.165528,0.230247,0.216602
3,2011-10-29,AES,A10-C,10,0.210262,0.228600,0.258326,0.280794,NaN
4,2011-10-29,AES,A11,11,0.140764,0.196794,0.239321,0.282253,NaN

#### Subsetting by sensor data type ("sensor_full_name" column)

In [40]:
#Use the str.contains function to subset.  In the example below, we subset for "C_hand" values and values ending in "C"

final_data = temp_pivot[temp_pivot['sensor_full_name'].str.contains("C_hand") | temp_pivot['sensor_full_name'].str.endswith("C")]

In [41]:
#Viewing Sensor Data Types after subset
final_data['sensor_full_name'].unique()

array([' A1-C', ' A10-C', ' A11-C', ' A12-C', ' A2-C', ' A3-C', ' A4-C',
       ' A5-C', ' A6-C', ' A7-C', 'J1-C_hand', 'J10-C_hand', 'J11-C_hand',
       'J12-C_hand', 'J2-C_hand', 'J3-C_hand', 'J4-C_hand', 'J5-C_hand',
       'J6-C_hand', 'J7-C_hand', 'J8-C_hand', 'J9-C_hand', 'W1-C_hand',
       'W10-C_hand', 'W11-C_hand', 'W12-C_hand', 'W2-C_hand', 'W3-C_hand',
       'W4-C_hand', 'W5-C_hand', 'W6-C_hand', 'W7-C_hand', 'W8-C_hand',
       'W9-C_hand', 'OD-10_C', 'OD-11_C', 'OD-12_C', 'OD-1_C', 'OD-2_C',
       'OD-3_C', 'OD-4_C', 'OD-5_C', 'OD-6_C', 'OD-7_C', 'OD-8_C', 'OD-9_C'], dtype=object)

#### Saving Output Data for each to CSV

In [42]:
final_data.to_csv('./output_data/soil_moisture.csv', index=False)

In [43]:
final_data.head(5)

,date,field,sensor_full_name,sensor,depth_1,depth_2,depth_3,depth_4,depth_5
1,2011-10-29,AES,A1-C,1,0.377737,0.291173,0.309848,NaN,NaN
3,2011-10-29,AES,A10-C,10,0.210262,0.228600,0.258326,0.280794,NaN
5,2011-10-29,AES,A11-C,11,0.069194,0.172116,0.248614,NaN,NaN
7,2011-10-29,AES,A12-C,12,0.211317,0.161496,0.245646,NaN,NaN
9,2011-10-29,AES,A2-C,2,0.260053,0.300614,0.287644,0.310365,0.222584